<div>
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="searchMedia()">
    <mat-form-field class="keyword-input">
      <mat-label>Keyword</mat-label>
      <input type="search" matInput>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon matPrefix>filter_list</mat-icon>
        Filters
      </mat-expansion-panel-header>
      <div>
        <p>Years</p>
        <mat-form-field class="keyword-input">
          <mat-label>Year From</mat-label>
          <input type="number" min="1000" max="3000" matInput>
        </mat-form-field>
        <mat-form-field class="keyword-input">
          <mat-label>Year To</mat-label>
          <input type="number" min="1000" max="3000" matInput>
        </mat-form-field>
      </div>
      <div>
        <p>Rating</p>
        <mat-form-field class="keyword-input">
          <mat-label>Rating From</mat-label>
          <input type="number" min="0" max="10" matInput>
        </mat-form-field>
        <mat-form-field class="keyword-input">
          <mat-label>Rating To</mat-label>
          <input type="number" min="0" max="10" matInput>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <button type="submit" mat-raised-button color="primary">Search</button>
  </form>

  <div class="search-results">
    <mat-card>
      <mat-card-content>Media</mat-card-content>
    </mat-card>
  </div>

  <mat-paginator [pageSizeOptions]="[20]"
                 [length]="totalMediaItems"
                 (page)="onPaginateChange($event)"></mat-paginator>
</div>
