<div>
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="searchNewMedia()">
    <mat-form-field class="keyword-input">
      <mat-label>Search</mat-label>
      <input type="search" formControlName="keyword" matInput>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon matPrefix>filter_list</mat-icon>
        Filters
      </mat-expansion-panel-header>
      <div>
        <p>Years</p>
        <mat-form-field class="keyword-input">
          <mat-label>Year From</mat-label>
          <input type="number" min="1000" max="3000" formControlName="yearFrom" matInput>
        </mat-form-field>
        <mat-form-field class="keyword-input">
          <mat-label>Year To</mat-label>
          <input type="number" min="1000" max="3000" formControlName="yearTo" matInput>
        </mat-form-field>
      </div>
      <div>
        <p>Rating</p>
        <mat-form-field class="keyword-input">
          <mat-label>Rating From</mat-label>
          <input type="number" min="0" max="10" formControlName="ratingFrom" matInput>
        </mat-form-field>
        <mat-form-field class="keyword-input">
          <mat-label>Rating To</mat-label>
          <input type="number" min="0" max="10" formControlName="ratingTo" matInput>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <button type="submit" mat-raised-button color="primary">Search</button>
  </form>

  <div class="search-results">
    <pagination-controls id="media"
                         (pageChange)="handlePageChange($event)"
                         [responsive]="true">
    </pagination-controls>
    <mat-card *ngFor="let media of mediaItems |
    paginate: { id: 'media', itemsPerPage: 20, currentPage: page,  totalItems: total }">
      <img mat-card-image src="{{media.images.slice(-1)}}" onerror="this.src='./assets/images/noimage.jpg';">
      <div class="search-info">
        <mat-card-header>
          <mat-card-title>{{media.nameOriginal}}</mat-card-title>
          <mat-card-subtitle>{{media.alternativeNames[0]}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table>
            <tbody>
            <tr>
              <td>Year</td>
              <td>{{media.year ?? 'Unknown'}}</td>
            </tr>
            <tr>
              <td>Genres</td>
              <td>
                <span class="genre" *ngFor="let genre of media.genres"> {{genre}} </span>
              </td>
            </tr>
            <tr>
              <td>Rating</td>
              <td>{{media.rating['average'] ?? 'Unknown'}}</td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </div>

      <mat-card-actions>
        <a *ngFor="let link of media.links | keyvalue"
           href="{{link.value}}"
           target="_blank"
           mat-stroked-button> <mat-icon>videocam</mat-icon> {{link.key}}</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
