<div>
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="searchMedia()">
    <mat-form-field class="keyword-input">
      <mat-label>Search</mat-label>
      <input type="search" formControlName="keyword" matInput>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon matPrefix>filter_list</mat-icon>
        Filters
      </mat-expansion-panel-header>
      <div>
        <p>Years</p>
        <mat-form-field class="keyword-input">
          <mat-label>Year From</mat-label>
          <input type="number" min="1000" max="3000" formControlName="yearFrom" matInput>
        </mat-form-field>
        <mat-form-field class="keyword-input">
          <mat-label>Year To</mat-label>
          <input type="number" min="1000" max="3000" formControlName="yearTo" matInput>
        </mat-form-field>
      </div>
      <div>
        <p>Rating</p>
        <mat-form-field class="keyword-input">
          <mat-label>Rating From</mat-label>
          <input type="number" min="0" max="10" formControlName="ratingFrom" matInput>
        </mat-form-field>
        <mat-form-field class="keyword-input">
          <mat-label>Rating To</mat-label>
          <input type="number" min="0" max="10" formControlName="ratingTo" matInput>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <button type="submit" mat-raised-button color="primary">Search</button>
  </form>

  <div class="search-results">
    <pagination-controls id="media"
                         (pageChange)="handlePageChange($event)"
                         [responsive]="true">
    </pagination-controls>
    <mat-card *ngFor="let media of mediaItems |
    paginate: { id: 'media', itemsPerPage: 20, currentPage: page,  totalItems: total }">
      <mat-card-content>Media</mat-card-content>
    </mat-card>
  </div>
</div>
