.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .keyword-input {
    width: 30%;
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-card {
    width: 1080px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;


    img {
      object-fit: cover;
      width: 20%;
      max-height: 90%;
    }

    .search-info {
      width: 75%;
      mat-card-content {
        .genre {
          margin-right: 5px;
          border-radius: 10px;
          padding: 2px;
          color: #fff;
          background-color: #673ab7;
        }
      }
    }

    mat-card-actions {
      display: flex;
      width: 20%;
      flex-direction: column;
      justify-content: center;

      a {
        margin: 5px;
        width: 100%;
      }
    }
  }
}
